@import './font.scss';


@mixin button-style($bg-color, $color, $hover-bg-color, $hover-color) {
  background-color: $bg-color;
  color: $color;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-color;
  }
}


@mixin button {
background-color: $color;
color: $color-button;
border: 2px solid $color;
transition: all .8s;
font-family: $font-spectral;
&:hover {
  background-color: $color-button;
  color: $color;
}
}

@mixin title-h2 {
color: $color-title;
font-weight: $font-weight-medium;
font-family: $font-spectral;
font-size: 24px;
transition: all .8s;
margin: 0;
&:hover {
  color: $color;
}
}

@mixin span {
font-family: $font-spectral;
font-size: 13.5px;
font-weight: $font-weight-medium;
color: $color-span;
display: flex;
justify-content: center;
align-items: center;
margin: 8px 0 30px 0; 
}

@mixin p-content {
color: $color-p;
font-size: 15px;
font-family: $font-spectral;
}

@mixin ctn-pay-shopping {
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition: all .6s;
  text-transform: uppercase;
}