@import "./_mixin.scss";
@import "./font.scss";

.icon-left-product-detail {
    @include button-style(#333, #fff, $color, red);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.icon-right-product-detail {
    @include button-style(#333, #fff, $color, red);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.input-info {
    border: 1px solid hsla(0, 0%, 7%, 0.11);
    border-radius: 0.375rem;
    background-color: #f3f4f6;
    color: #555;
    &:focus {
        outline: none;
    }
}
.product-detail {
    .product-detail-body {
        .product-detail-left {
            padding-right: 50px;
            .product-detail-image-slide {
                display: flex;
                justify-content: space-between;
                .swiper-slide {
                    width: 145px;
                }
            }
        }
        .product-detail-right {
            .product-detail-right-top {
                display: flex;
                justify-content: space-between;
                h3 {
                    color: $color-p;
                    font-family: $font-spectral;
                    font-weight: $font-weight-bold;
                }
                span {
                    white-space: nowrap; 
                }
            }
            .desc {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; /* Giới hạn số dòng */
                color: #555;
            }
            .color {
                color: $color-p;
                .product-color-options {
                    margin-top: 12px;
                    .product-sw-select-item {
                        .trigger-option-sw {
                            display: none;
                        }
                        .sw-color-label {
                            padding: 10px;
                            border: 2px solid #ccc;
                            background-color: greenyellow;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: all 0.3s ease;
                        }
                        .trigger-option-sw:checked + .sw-color-label {
                            background-color: red;
                            border: 2px solid red;
                            transform: scale(1.03);
                            transition: all 0.3s ease;
                        }
                    }
                }
            }
            .size {
                color: $color-p;
                .product-size-options {
                    margin-top: 12px;
                    .product-sw-select-item {
                        .trigger-option-sw {
                            display: none;
                        }
                        .sw-size-label {
                            padding: 6px 10px;
                            border: 2px solid #ccc;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: all 0.3s ease;
                        }
                        .trigger-option-sw:checked + .sw-size-label {
                            background-color: aqua;
                            color: black;
                            border: 2px solid aqua;
                            transform: scale(1.03);
                            transition: all 0.3s ease;
                        }
                    }
                }
            }

            .product-detail-add {
                display: flex;
                align-items: center;
                gap: 20px;
                .quantity {
                    .quantity-selector {
                        display: flex;
                        border: 1px solid hsla(0, 0%, 7%, 0.11);
                        width: 135px;
                        padding: 6px 0;
                        border-radius: 10px;
                        .quantity-selector-button-minus,
                        .quantity-selector-button-plus {
                            width: 50px;
                            font-size: 23px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: $color-title;
                            }
                        }
                        .quantity-selector-input {
                            text-align: center;
                            width: 40px;
                            color: $color-title;
                            font-size: 20px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                .add-cart {
                    .mini-cart-button {
                        .pay-money {
                            @include ctn-pay-shopping;
                            border: 1px solid $color;
                            color: $color-button;
                            background-color: $color;
                            padding: 13px 20px;
                            border-radius: 10px;
                            &:hover {
                                color: $color;
                                border-color: $color;
                                background-color: $color-button;
                            }
                        }
                    }
                }

                .icon-heart-detail {
                    .icon-toggle-checkbox {
                        display: none;
                    }
                    .sw-icon-heart-color {
                        border: 1px solid hsla(0, 0%, 7%, 0.11);
                        padding: 14px 16px;
                        color: $color-p;
                        transition: all 0.3s ease;
                        cursor: pointer;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                    }
                    .icon-toggle-checkbox:checked + .sw-icon-heart-color {
                        border-color: $color;
                        color: white;
                        background-color: $color;
                    }
                }
            }
            .product-info {
                display: flex;
                flex-wrap: wrap;
                .product-info-sku,
                .product-info-category,
                .product-info-tag,
                .product-info-vendor {
                    width: 50%;
                    strong {
                        color: $color-p;
                        font-weight: $font-weight-bold;
                        font-size: 14px;
                    }
                    a {
                        font-size: 14px;
                        color: $color-title;
                        text-decoration: none;
                        transition: all 0.8s ease-in-out;
                        &:hover {
                            color: $color;
                        }
                    }
                }
            }
            .product-extra-content {
                margin-top: 40px;
                .free-deliver {
                    font-size: 18px;
                    color: $color-p;
                    font-weight: $font-weight-bold;
                }
                .date-time-extra {
                    font-size: 16px;
                    color: #555;
                }
            }
        }
    }

    .tab-product-detail {
        margin-top: 80px;
        .tab-product-detail-top {
            .tab-product-detail-title {
                font-size: 18px;
                text-transform: none;
                color: $color-p;
            }
        }
        .tab-product-detail-bt {
            .tab-review {
                .tab-review-warp {
                    border-bottom: 1px solid hsla(0, 0%, 7%, 0.11);
                    .tab-review-body {
                        display: flex;
                        flex-direction: column;
                        .tab-review-meta {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
                .comment-reply {
                    .comment-reply-title {
                        font-family: $font-spectral;
                    }
                    .rating {
                        .star {
                            transition: color 0.3s ease;
                        }
                        .star:hover,
                        .star:hover i {
                            color: #ffcc00;
                        }
                    }
                }
                .comment-reply-button {
                    margin-top: 1rem;
                    padding: 13px 50px;
                    @include button;
                    font-weight: 600;
                    border-radius: 5px;
                    text-transform: uppercase;
                }
            }
        }

        .uk-tab > .uk-active > a {
            border-bottom: 3px solid $color;
        }
    }

    .product-list {
        margin-top: 70px;
        margin-bottom: 50px;
        .title-related {
            display: flex;
            margin: auto;
            align-items: center;
            grid-gap: 2rem;
            h2 {
                color: $color-title;
                font-weight: $font-weight-medium;
                font-family: $font-spectral;
                font-size: 36px;
                padding-bottom: 37px;
            }
        }
        .home-product-list-wrapper {
            .product-item {
                .product-image {
                    position: relative;
                    img {
                        border-radius: 10px;
                    }
                    span {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        background-color: #ff5722;
                        color: white;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: $font-spectral;
                    }
                    .icon-heart {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        opacity: 0;
                        transition: opacity 0.6s ease;
                    }
                    .product-button {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                        opacity: 0;
                        transition: opacity 0.6s ease;
                        button {
                            background-color: $color-button;
                            border: 2px solid $color-button;
                            color: $color-title;
                            transition: all 0.8s;
                            font-family: $font-spectral;
                            border-radius: 5px;
                            font-size: 13px;
                            padding: 03px 10px;
                            &:hover {
                                background-color: $color;
                                color: $color-button;
                                border: 2px solid $color;
                            }
                        }
                    }
                }
                &:hover {
                    .icon-heart,
                    .product-button {
                        opacity: 1;
                    }
                }
                .product-review {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 8px 0 5px 0;
                    a {
                        text-decoration: none;
                        span {
                            color: $color-auth;
                            font-size: 14px;

                            font-family: $font-spectral;
                            transition: all 0.8s;
                            &:hover {
                                color: $color;
                            }
                        }
                    }
                    .icon {
                        .icon-review {
                            padding-left: 3px;
                            font-size: 14px;
                        }
                    }
                }
                .product-name {
                    color: $color-title;
                    font-family: $font-spectral;
                    font-size: 16.5px;
                    font-weight: $font-weight-medium;
                    transition: all 0.8s;
                    display: inline-block;
                    height: calc(1em * 1.4 * 2);
                    &:hover {
                        color: $color;
                        text-decoration: none;
                    }
                }
                .product-price {
                    display: flex;
                    gap: 10px;
                    strong {
                        color: $color-red;
                        font-size: 15.75px;
                        font-weight: $font-weight-bold;
                        font-family: $font-spectral;
                    }
                    del {
                        color: $color-auth;
                        font-size: 14.25px;
                        font-family: $font-spectral;
                    }
                }
                .product-item-detail-gallery-items {
                    padding-top: 10px;
                    display: flex;
                    gap: 10px;
                    img {
                        border-radius: 50%;
                        width: 30px;
                        &:hover {
                            cursor: pointer;
                            border: solid 3px $color;
                        }
                    }
                }
            }
        }
    }
}

.product-color-options {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.product-sw-select-item {
    display: flex;
    align-items: center;
}
