$font-marcellus: Marcellus, sans-serif;
$font-spectral: Spectral, sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color : #FDB5B9;
$color-button : #FFFFFF;
$color-title : #333;
$color-span : #808080;
$color-p : #131618;
$color-auth : #ababab;
$color-red: #f30 