@import './_mixin.scss';
@import './font.scss';

:root {
  --border_radius: 5px;
}

footer {
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQaD5xFXkncMbNgMWWUqxTcWqiOzTBDE8kGyWZ5Cc5SfG7zm9ur");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: color;
    font-family: $font-spectral;
    margin-top: 80px;
    @media (min-width: 640px) and (max-width: 1200px){
      padding: 0 40px;
    }
    @media (min-width: 360px) and (max-width: 639px){
      padding: 0 20px;
    }
   
    section {
      
        max-width: 100%;
        h2 {
          font-family: $font-spectral;
          font-weight: $font-weight-bold;
        }
        p {
          color: $color-title;
        }
        form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .input-ft {
            width: 70%;
            height: 45px;
            border: 2px solid #ebebeb;
            border-radius: var(--border_radius);
            padding: 0 10px;
          }
    
          .button-ft {
            @include button;
            height: 45px;
            width: calc(30% - 10px);
            border-radius: var(--border_radius);
            text-transform: uppercase;
          }
        }
      }
    }

    .ft-copyright {
      color: $color-title;
      .ft-warp {
        @media (min-width: 640px) and (max-width: 960px){
        padding: 40px 0 10px 0;
        }
        @media (min-width: 360px) and (max-width: 639px){
          padding: 30px 0 10px 0;
       }
        .ft-top{
          padding-bottom: 70px !important;
          @media (min-width: 640px) and (max-width: 959px){
           padding-bottom: 40px !important;
          }
          @media (min-width: 360px) and (max-width: 639px){
            padding-bottom: 20px !important;
          }
          .ft-top-item-one {
            @media (min-width: 360px) and (max-width: 639px){
              width: 100%;
            }
          }
          .ft-top-item-two {
            @media (min-width: 360px) and (max-width: 639px){
              width:100%;
              margin-top: 15px !important ;
            }
          }
          .ft-top-item-three {
            @media (min-width: 360px) and (max-width: 639px){
              width:50%;
             
            }
          }
          .ft-top-item-four {
            @media (min-width: 360px) and (max-width: 639px){
              width: 50%;
            
            }
          }
          .ft-top-item-five {
            @media (min-width: 360px) and (max-width: 639px){
              width: 100%;
             
            }
          }
          .ft-top-item-one, .ft-top-item-two, .ft-top-item-three, .ft-top-item-four, .ft-top-item-five{
            @media (min-width: 640px) and (max-width: 959px){
             margin: 0;
             padding-top: 10px;
             }
             @media (min-width: 360px) and (max-width: 639px){
              margin: 0;
              }
            .ft-top-info {
              margin: 0;
              margin-top: 5px !important;
              font-size: 14px;
            }
          }
          a {
            text-decoration: none;
            color: #666;
            transition: all .5s;
            &:hover {
              color: $color;
            }
          }
          h4 {
            font-family: $font-spectral;
            font-weight: $font-weight-bold;
            font-size: 24px;
            margin-bottom: 25px;
            color: black;
            @media (min-width: 640px) and (max-width: 960px){
              margin: 0 !important;
              padding: 5px 0;
            }
            @media (min-width: 360px) and (max-width: 639px){
              margin: 0;
              padding-bottom: 5px;
            }
          }
        }
        .ft-bot {
          @media (min-width: 360px) and (max-width: 639px){
              display: block;
              padding: 0;
          }
          p {
            @media (min-width: 360px) and (max-width: 639px){
              font-size: 8px;
          }
            a {
              color: $color-title;
              text-decoration: none;
              strong {
                color: $color;
                transition: all .8s;
                &:hover {
                  color: #ffdba8;
                }
              }
            }
          }
          ul {
            @media (min-width: 360px) and (max-width: 639px){
              padding: 0;
              margin: 0;
              gap: 20px;
           }
            li {
              @media (min-width: 360px) and (max-width: 639px){
               font-size: 12px;
               padding: 0;
            }
            }
          }
        }
      }
    }





