@import "./font.scss";
@import "./_mixin.scss";

header {
    background-color: white;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}
.uk-sticky-placeholder {
    height: 80px;
}
.header-warp {
    margin-top: 5px !important;
    margin-bottom: 10px;
    .header-left {
        form {
            display: flex;
            width: 300px;
            input {
                padding: 2.5px 15px 2.5px 0;
                width: 100%;
                border-bottom: 1px solid gray;
                font-family: $font-spectral;
                color: black;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    font-size: 16px;
                    color: black;
                    font-family: $font-spectral;
                }
            }
            .icon-search {
                font-size: 1.6rem;
                color: #333;
            }
        }
    }
    .header-right {
        align-items: flex-end;
        .header-icon {
            font-size: 20px;
            color: black;
            margin-left: 1.5rem;
            position: relative;
            .cart-counter {
                background-color: #f45d56;
                position: absolute;
                top: -5px;
                right: -8px;
                font-size: 10px;
                color: #ffffff;
                text-align: center;
                line-height: 11px;
                min-width: 18px;
                height: 18px;
                border-radius: 30px;
                padding: 4px;
                background-color: #f45d56;
                display: inline-block;
                z-index: 5;
            }
        }
        .offcanvas-cart {
            .offcanvas-cart-body {
                width: 450px;
                background-color: $color-button;
                padding: 0;
                max-height: 100%;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                .modal-header {
                    .modal-title {
                        font-size: 18px;
                        font-weight: $font-weight-regular;
                        color: $color-p;
                        font-family: $font-spectral;
                        text-align: center;
                        border-bottom: 1px solid hsla(0, 0%, 7%, 0.11);
                        padding: 20px 0;
                    }
                }
                .mini-cart-product {
                    height: 45.5vh;
                    overflow-y: auto;
                    margin-bottom: 20px;
                    flex: 1;
                    .warp {
                        display: flex;
                        padding: 17px 30px 45px 30px;
                        .warp-body {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding-left: 30px;
                            .product-name {
                                font-size: 15px;
                                color: $color-title;
                                font-weight: $font-weight-bold;
                                text-decoration: none;
                                display: block;

                                transition: all 0.6s;
                                &:hover {
                                    color: $color-red;
                                }
                            }
                            .price {
                                margin-bottom: 5px;
                                span {
                                    font-size: 15px;
                                    color: $color-title;
                                    strong {
                                        color: $color-red;
                                        font-weight: $font-weight-regular;
                                    }
                                    del {
                                        color: $color-auth;
                                        font-size: 15px;
                                    }
                                }
                            }
                            .data-size {
                                color: $color-title;
                                font-size: 15px;
                                margin-bottom: 5px;
                            }
                            .quantity {
                                display: flex;
                                gap: 70px;
                                .quantity-selector {
                                    display: flex;
                                    border: 1px solid hsla(0, 0%, 7%, 0.11);
                                    width: 135px;
                                    padding: 2px 0;
                                    .quantity-selector-button-minus {
                                        width: 50px;
                                        font-size: 16px;
                                        &:hover {
                                            color: $color-title;
                                        }
                                    }
                                    .quantity-selector-button-plus {
                                        width: 30px;
                                        font-size: 16px;
                                        &:hover {
                                            color: $color-title;
                                        }
                                    }
                                    .quantity-selector-input {
                                        text-align: center;
                                        width: 40px;
                                        color: $color-title;
                                    }
                                }
                                .cart-item-remove {
                                    margin-top: 15px;
                                    i {
                                        color: $color-p;
                                        font-size: 16px;
                                        transition: all 0.8s;
                                        &:hover {
                                            color: $color-red;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .total-action {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-top: auto;
                    .mini-cart-total {
                        background-color: #f5f5f5;
                        color: $color-p;
                        padding: 24px 30px;
                        display: flex;
                        justify-content: space-between;
                        .subtotal {
                            font-size: 15px;
                            font-weight: $font-weight-medium;
                        }
                        .currencysymbol {
                            font-size: 15px;
                            font-weight: $font-weight-bold;
                        }
                    }
                    .mini-cart-button {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 30px 30px 0 30px;
                        .continue-shopping {
                            @include ctn-pay-shopping;
                            border: 1px solid $color-title;
                            color: $color-title;
                            &:hover {
                                color: $color;
                                border-color: $color;
                            }
                        }
                        .pay-money {
                            @include ctn-pay-shopping;
                            border: 1px solid $color;
                            color: $color-button;
                            background-color: $color;
                            &:hover {
                                color: $color;
                                border-color: $color;
                                background-color: $color-button;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-bot {
    padding: 5px 0 15px 0;
    .menu-header {
        @media (min-width: 1200px) {
            justify-content: center;
        }
        @media (max-width: 1199px) {
            justify-content: flex-end;
            padding-right: 120px;
        }

        .alo {
            ul {
                li {
                    display: inline-block;
                }
                a {
                    text-transform: none;
                    text-decoration: none;
                    color: #333333;
                    font-size: 16.5px;
                    font-family: $font-spectral;
                    transition: all 0.8s;
                    &:hover {
                        color: $color;
                        text-decoration: none;
                    }
                    span {
                        font-size: 1.5rem;
                        margin-left: 5px;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

.scroll-top {
    color: red;
    border-radius: 50% !important;
    width: 55px !important;
    height: 55px !important;
    transition: all 0.8s;
    &:hover {
        background-color: red;
        color: white;
        transform: scale(1.1);
    }
}

.navbar-toggle {
    display: none;
}

@media (max-width: 1199px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
    }
}

#dropnav-user {
    width: 180px;
    padding: 0 0 10px 0;
    .dropnav-user-header {
        border-top: 3px solid $color;
        .user-header {
            color: $color-p;
            transition: all 0.8s;
            padding: 20px 0 5px 10px;
            &:hover {
                color: $color;
            }
        }
    }
}

.uk-dropdown-nav {
    display: flex;
    flex-direction: column;
}

.uk-dropnav-dropbar {
    left: 30% !important;
    right: 15%;
    top: 100% !important;
}
.uk-dropdown-nav {
    display: flex;
    flex-direction: column;
}
//   .navbar-menu
// .uk-dropdown {  padding: 16px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
//  background-color: white; }

.uk-modal-close-default {
    .close-modal {
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.2);
            color: red !important;
        }
    }
}

.uk-modal-body {
    padding: 30px;
}

.vnpay {
    
    margin: 0 30px;
    .vnpay-button {
        width: 100%;
        @include ctn-pay-shopping;
        border: 1px solid $color;
        color: $color-button;
        background-color: $color;
        &:hover {
            color: $color;
            border-color: $color;
            background-color: $color-button;
        }
    }
}
