@import "./_mixin.scss";
@import "./font.scss";

.title {
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    a {
        text-decoration: none !important;
        h2 {
            @include title-h2;
            text-decoration: none;
        }
    }
    hr {
        height: 2.5px;
        width: 70px;
        background-color: black;
        margin: 0;
        padding: 0;
    }
}

.sub-span-title {
    @include span;
}
.icon-left,
.icon-right {
    @include button-style(#333, #fff, $color, red);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-left-product {
    @include button-style(#333, #fff, $color, red);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
}
.icon-right-product {
    @include button-style(#333, #fff, $color, red);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
}

.banner {
    .uk-slideshow-items {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .icon-left,
    .icon-right {
        @include button-style(#333, #fff, $color, red);
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.about-us {
    .about-us-container {
        padding: 42px 0 10px 0;
        margin-top: 45px;
        .content {
            .title {
                justify-content: flex-start;
            }
            .sub-span-title {
                justify-content: flex-start;
            }
            p {
                @include p-content;
                margin: 30px 0 15px 0;
            }
            .shopping {
                display: flex;
                gap: 10px;
                a {
                    @include button;
                    text-decoration: none;
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-size: 1em;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
        .image-about-us {
            display: flex;
            justify-content: flex-end;
            // position: relative;
            .large-image {
                width: 400px;
                // height: auto;
                border-radius: 10px;
            }
            // .small-image {
            //     width: 150px;
            //     height: auto;
            //     position: absolute;
            //     bottom: -20px;
            //     left: 250px;
            //     border-radius: 10px;
            // }
        }
    }
}

.product-list {
    margin-top: 45px;
    margin-bottom: 50px;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-product-list-wrapper {
        .product-item {
            .product-image {
                position: relative;
                img {
                    border-radius: 10px;
                }
                span {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background-color: #ff5722;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: bold;
                    font-family: $font-spectral;
                }
                .icon-heart {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    opacity: 0;
                    transition: opacity 0.6s ease;
                }
                .product-button {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    opacity: 0;
                    transition: opacity 0.6s ease;
                    button {
                        background-color: $color-button;
                        border: 2px solid $color-button;
                        color: $color-title;
                        transition: all 0.8s;
                        font-family: $font-spectral;
                        border-radius: 5px;
                        font-size: 13px;
                        padding: 03px 10px;
                        &:hover {
                            background-color: $color;
                            color: $color-button;
                            border: 2px solid $color;
                        }
                    }
                }
            }
            &:hover {
                .icon-heart,
                .product-button {
                    opacity: 1;
                }
            }
            .product-review {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0 5px 0;
                a {
                    text-decoration: none;
                    span {
                        color: $color-auth;
                        font-size: 14px;

                        font-family: $font-spectral;
                        transition: all 0.8s;
                        &:hover {
                            color: $color;
                        }
                    }
                }
                .icon {
                    .icon-review {
                        padding-left: 3px;
                        font-size: 14px;
                    }
                }
            }
            .product-name {
                color: $color-title;
                font-family: $font-spectral;
                font-size: 16.5px;

                font-weight: $font-weight-medium;
                transition: all 0.8s;
                display: inline-block;
                height: calc(1em * 1.4 * 2);
                &:hover {
                    color: $color;
                    text-decoration: none;
                }
            }
            .product-price {
                display: flex;
                gap: 10px;
                strong {
                    color: $color-red;
                    font-size: 15.75px;
                    font-weight: $font-weight-bold;
                    font-family: $font-spectral;
                }
                del {
                    color: $color-auth;
                    font-size: 14.25px;
                    font-family: $font-spectral;
                }
            }
            .product-item-detail-gallery-items {
                padding-top: 10px;
                display: flex;
                gap: 10px;
                img {
                    border-radius: 50%;
                    width: 30px;
                    &:hover {
                        cursor: pointer;
                        border: solid 3px $color;
                    }
                }
            }
        }
    }
    // .home-product-list-wrapper {
    //     .product-item {
    //         .product-image {
    //             position: relative;
    //             img {
    //                 border-radius: 10px;
    //             }
    //             span {
    //                 position: absolute;
    //                 top: 10px;
    //                 left: 10px;
    //                 background-color: #ff5722;
    //                 color: white;
    //                 padding: 5px 10px;
    //                 border-radius: 5px;
    //                 font-size: 14px;
    //                 font-weight: bold;
    //                 font-family: $font-spectral;
    //             }
    //             .icon-heart {
    //                 position: absolute;
    //                 top: 10px;
    //                 right: 10px;
    //                 opacity: 0;
    //                 transition: opacity 0.6s ease;
    //             }
    //             .product-button {
    //                 position: absolute;
    //                 bottom: 10px;
    //                 left: 10px;
    //                 display: flex;
    //                 flex-direction: column;
    //                 gap: 3px;
    //                 opacity: 0;
    //                 transition: opacity 0.6s ease;
    //                 button {
    //                     background-color: $color-button;
    //                     border: 2px solid $color-button;
    //                     color: $color-title;
    //                     transition: all 0.8s;
    //                     font-family: $font-spectral;
    //                     border-radius: 5px;
    //                     font-size: 13px;
    //                     padding: 03px 10px;
    //                     &:hover {
    //                         background-color: $color;
    //                         color: $color-button;
    //                         border: 2px solid $color;
    //                     }
    //                 }
    //             }
    //         }
    //         &:hover {
    //             .icon-heart,
    //             .product-button {
    //                 opacity: 1;
    //             }
    //         }
    //         .product-review {
    //             display: flex;
    //             align-items: center;
    //             justify-content: space-between;
    //             margin: 8px 0 5px 0;
    //             a {
    //                 text-decoration: none;
    //                 span {
    //                     color: $color-auth;
    //                     font-size: 14px;

    //                     font-family: $font-spectral;
    //                     transition: all 0.8s;
    //                     &:hover {
    //                         color: $color;
    //                     }
    //                 }
    //             }
    //             .icon {
    //                 .icon-review {
    //                     padding-left: 3px;
    //                     font-size: 14px;
    //                 }
    //             }
    //         }
    //         .product-name {
    //             color: $color-title;
    //             font-family: $font-spectral;
    //             font-size: 16.5px;
    //             font-weight: $font-weight-medium;
    //             transition: all 0.8s;
    //             display: inline-block;
    //             height: calc(1em * 1.4 * 2);
    //             &:hover {
    //                 color: $color;
    //                 text-decoration: none;
    //             }
    //         }
    //         .product-price {
    //             display: flex;
    //             gap: 10px;
    //             strong {
    //                 color: $color-red;
    //                 font-size: 15.75px;
    //                 font-weight: $font-weight-bold;
    //                 font-family: $font-spectral;
    //             }
    //             del {
    //                 color: $color-auth;
    //                 font-size: 14.25px;
    //                 font-family: $font-spectral;
    //             }
    //         }
    //         .product-item-detail-gallery-items {
    //             padding-top: 10px;
    //             display: flex;
    //             gap: 10px;
    //             img {
    //                 border-radius: 50%;
    //                 width: 30px;
    //                 &:hover {
    //                     cursor: pointer;
    //                     border: solid 3px $color;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.brand {
    margin-top: 45px;
    .brand-body {
        display: flex;
        justify-content: center;
        align-items: center;
        .brand-left {
            .brand-left-image {
                position: relative;
                background-image: url("https://bizweb.dktcdn.net/100/413/756/articles/gia-giay-nu-adidas-1.jpg?v=1620201708113");
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                padding: 80px 0;
                border-radius: 10px;
                overflow: hidden;
                clip-path: polygon(100% 0, 83% 100%, 50% 100%, 0 100%, 0 0);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(34, 34, 34, 0.1);
                    backdrop-filter: blur(2px);
                    z-index: 1;
                    border-radius: 10px;
                }
                .title {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    grid-gap: 25px;

                    a {
                        text-decoration: none !important;
                        z-index: 5;

                        h2 {
                            @include title-h2;
                            color: $color-button;
                            font-size: 30px;
                        }
                    }

                    hr {
                        height: 2.5px;
                        width: 50px;
                        background-color: $color-button;
                        margin-top: 0.5rem;
                        z-index: 5;
                    }
                }

                .sub-span-title {
                    @include span;
                    position: relative;
                    z-index: 5;
                    color: $color-button;
                    font-size: 15px;
                    padding-top: 15px;
                }
            }
        }
    }
}

.name-shoes {
    margin-top: 45px;
    .name-shoes-item {
        position: relative;
        .name-shoes-image {
            .a-img {
                border-radius: 10px;
                img {
                    transition: all 0.8s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .name-shoes-body {
            .a-body {
                text-align: center;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%);
                z-index: 2;
                border-radius: 5px;
                text-decoration: none;
                @include button;
                padding: 5px 16px;
                p {
                    margin: 0;
                }
            }
        }
    }
}

.date-time-sale {
    margin-top: 45px;
    margin-bottom: 45px;
    .home-sale-left {
        height: 100%;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        .date-time-image {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        .date-time-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 20%;
            left: 54.1%;
            transform: translateX(-50%);
            width: 100%;
            .countdown {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                .days,
                .hours,
                .minutes,
                .seconds {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    b {
                        background-color: white;
                        font-size: 22.5px;
                        font-family: $font-spectral;
                        font-weight: $font-weight-bold;
                        border-radius: 10px;
                        box-shadow: #19191980 0px 3px 5px 0px;
                        color: #333;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .days-content,
                    .hours-content,
                    .minutes-content,
                    .seconds-content {
                        color: white;
                        font-family: $font-spectral;
                        font-size: 19px;
                        font-weight: $font-weight-semibold;
                    }
                }
            }
        }
    }
    .icon-left-product {
        margin-left: 0px;
        margin-top: -52px;
        padding: 1px 12px;
    }
    .icon-right-product {
        margin-right: 0px;
        margin-top: -52px;
        padding: 1px 12px;
    }
}

.uk-light .uk-dotnav > * > * {
    margin-top: 20px;
    border: 2px solid $color;
    width: 13px;
    height: 13px;
    &:hover {
        background-color: $color;
    }
}

.uk-light .uk-dotnav > .uk-active > * {
    background-color: $color;
}



.collection {
    margin-top: 45px;
    .collection-list {
        .collection-list-item {
            width: 12.5%;
            text-align: center;
            text-decoration: none;
            color: $color-p;
            transition: transform 0.3s ease;
            @media (min-width: 390px) and (max-width: 640px) {
                width: 25%;
            }
            &:hover {
                .home-collection-list-item-image img {
                    transform: scale(0.95) rotate(10deg);
                }
                span {
                    letter-spacing: 2px;
                    color: $color;
                }
            }
            .home-collection-list-item-image {
                img {
                    border-radius: 50%;
                    margin-bottom: 15px;
                    transition: transform 0.3s ease;
                }
            }
            span {
                font-size: 16px;
                padding-top: 10px;
                transition: letter-spacing 0.3s ease;
            }
        }
    }
}

.banner2-home {
    .home-banner2-wrapper {
        .home-banner-item {
            position: relative;
            overflow: hidden; // Giữ ảnh phóng to bên trong container

            .home-banner2-image-holder {
                position: relative; // Để tránh ảnh phóng to làm thay đổi bố cục

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    transition: transform 0.8s, filter 0.8s;
                    filter: brightness(0.9);

                    &:hover {
                        transform: scale(1.1); // Phóng to hình ảnh
                        filter: brightness(0.7);
                    }
                }
            }

            .home-banner2-item-info {
                position: absolute;
                transform: translateY(-50%);
                width: 25%;
                left: 65%;
                top: 50%;
                text-align: center;

                .title {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    grid-gap: 0px;

                    a {
                        text-decoration: none !important;
                        z-index: 5;

                        h2 {
                            @include title-h2;
                            color: $color-button;
                            font-size: 30px;
                            padding-bottom: 10px;
                        }
                    }

                    hr {
                        height: 2px;
                        width: 60px;
                        background-color: $color-button;
                        margin-top: 0.5rem;
                        z-index: 5;
                    }
                }

                .home-banner2-button {
                    text-align: center;
                    position: absolute;
                    transform: translate(-50%);
                    z-index: 2;
                    border-radius: 5px;
                    text-decoration: none;
                    @include button;
                    padding: 5px 16px;

                    p {
                        margin: 0;
                    }
                }

                .sub-span-title {
                    @include span;
                    position: relative;
                    z-index: 5;
                    color: $color-button;
                    font-size: 16px;
                    padding-top: 15px;
                }
            }
        }
    }
}

.trending {
    padding: 0;
}
.alofdfsd {
    height: 512px;
    width: 384px;
}


