@import "./_mixin.scss";
@import "./font.scss";

body {
    font-family: $font-spectral;
}

.breadcrumb-a {
    color: $color-title;
    transition: all 0.8s;
    font-size: 16px;
    &:hover {
        color: $color;
    }
}

.order-title-item {
    color: $color-title;
    font-size: 18px;
}

.order-name {
    color: $color-title;
    font-size: 22px;
    font-weight: $font-weight-bold;
}

.order {
    .order-body {
        .order-left {
            padding-right: 65px;
            .order-left-body {
                .address {
                }
                .payments {
                    .payments-body {
                        .payments-card {
                            .payments-card-title {
                            }
                            .payments-card-input:focus {
                                outline: none;
                            }
                            .payments-card-label {
                                color: $color-title;
                                font-size: 15px;
                            }
                        }
                    }
                }
                .review {
                    .review-body {
                        .review-content {
                            .warp {
                                display: flex;
                                padding: 20px 0 10px 0;
                                .warp-body {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    padding-left: 30px;
                                    .product-name {
                                        font-size: 18px;
                                        color: $color-title;
                                        font-weight: $font-weight-bold;
                                        text-decoration: none;
                                        display: block;
                                        margin-bottom: 5px;
                                        transition: all 0.6s;
                                        &:hover {
                                            color: $color-red;
                                        }
                                    }
                                    .price {
                                        margin-bottom: 5px;
                                        span {
                                            font-size: 18px;
                                            color: $color-title;
                                            strong {
                                                color: $color-red;
                                                font-weight: $font-weight-regular;
                                            }
                                            del {
                                                color: $color-auth;
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                    .data-size {
                                        color: $color-title;
                                        font-size: 18px;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            button {
                @include button;
            }
        }
    }
    .uk-tab::before {
        border: none;
    }
    .uk-tab.custom-tab {
        display: flex;
        justify-content: space-between;
        position: static;
    }
    .uk-tab > .uk-active > a {
        //bỏ gạch dưới icon
        border: none;
    }
    .order-title {
        color: $color-title;
        font-family: $font-spectral;
        font-size: 32px;
    }
}

.shopping-cart-right {
    h2 {
        color: $color-title;
        font-size: 20px;
        font-family: $font-spectral;
        border-bottom: 1px solid hsla(0, 0%, 7%, 0.11);
        padding-bottom: 20px;
        font-weight: $font-weight-regular;
    }
    .discount-code {
        padding-top: 30px;
        .code {
            font-size: 20px;
            color: $color-title;
        }
        form {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            border-bottom: 1px solid hsla(0, 0%, 7%, 0.11);
            padding: 20px 0 25px 0;
            .shopping-cart-right-input {
                border: 1px solid hsla(0, 0%, 7%, 0.11);
                padding: 10px 120px 10px 10px;
                &:focus {
                    outline: none;
                }
            }
            .shopping-cart-right-button {
                border: 1px solid $color;
                background-color: $color;
                color: $color-button;
                padding: 10px 28px;
                transition: all 0.6s;
                text-transform: uppercase;
                &:hover {
                    color: $color;
                    background-color: $color-button;
                }
            }
        }
    }
    .shipping-fee {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid hsla(0, 0%, 7%, 0.11);
        span {
            color: $color-title;
            font-size: 18px;
        }
    }
    .total-right {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid hsla(0, 0%, 7%, 0.11);
        span {
            color: $color-title;
            font-size: 22px;
        }
    }
    .total-action {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .continue-shopping {
            @include ctn-pay-shopping;
            border: 1px solid $color-title;
            color: $color-title;
            &:hover {
                color: $color;
                border-color: $color;
            }
        }
        .pay-money {
            @include ctn-pay-shopping;
            border: 1px solid $color;
            color: $color-button;
            background-color: $color;
            &:hover {
                color: $color;
                border-color: $color;
                background-color: $color-button;
            }
        }
    }
}

// .uk-tab.custom-tab li:not(:last-child) {
//     border-right: 1px solid #ccc; /* Đặt màu cho đường kẻ */
//     padding-right: 10px; /* Khoảng cách giữa icon và đường kẻ */
// }

// .uk-tab.custom-tab li a {
//     display: flex;
//     align-items: center;
// }
.status-order {
    margin-bottom: 30px;
    .status-body {
        background-image: url("/storage/images/Banner/4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 10px;
        padding: 50px 50px;

        h4 {
            font-family: $font-spectral;
            color: $color-p;
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 10px;
        }
        span {
            color: $color-p;
        }
    }
}

.order-detail-right {
    .card {
        padding: 16px;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid hsla(0, 0%, 7%, 0.11);

        .card-body {
            position: relative;

            .card-title-order {
                font-weight: bold;
                margin-bottom: 0;
                font-size: 22px;
                font-family: $font-spectral;
            }

            .card-text {
                margin-top: 0.5rem;
                font-size: 14px;
                color: #5c5f6a;
            }
        }
    }

    .payment-summary {
        margin-top: 10px;
        border-radius: 4px;
        padding: 38px 18px;
        border: 1px solid hsla(0, 0%, 7%, 0.11);

        .summary-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            font-size: 16px;
            font-weight: 500;
        }

        #promo-section,
        #discount-section {
            display: none;
        }

        .divider {
            border: none;
            height: 1px;
            background-color: #808080;
            margin: 18px 0;

            &.bold {
                height: 3px;
            }
        }

        .total {
            font-weight: bold;
        }
    }
}

.order-detail-left {
    .tb-order-detail {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            padding: 10px 0;
        }
        th:nth-child(1) {
            width: 40%;
        }
        th:nth-child(2) {
            width: 15%;
        }
        th:nth-child(3) {
            width: 15%;
        }
        th:nth-child(4) {
            width: 15%;
        }
        th:nth-child(5) {
            width: 15%;
        }

        td {
            width: inherit;
            color: $color-p;
            font-size: 14px;
        }

        .tbody-order-detail {
            .tr-order-detail {
                border-bottom: 1px solid #ddd;
                .tbody-td-order-detail {
                    padding: 20px 0;
                    .product-row {
                        display: flex;
                        .product-image {
                            width: 100px;
                            height: 100px;
                            margin-right: 10px;
                        }
                        .product-row-body {
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                        }
                    }
                }
                .review-button {
                    padding: 9px 20px;
                    border: 1px solid $color;
                    color: #fff;
                    background-color: $color;
                    cursor: pointer;
                    margin-bottom: 10px;
                    font-size: 14px;
                    transition: all 0.8s;
                    &:hover {
                        color: $color;
                        border: 1px solid $color;
                        background-color: #fff;
                    }
                    &:focus {
                        outline: none;  
                    }
                }
            }
        }
    }
}



.payment-success {
    font-family: $font-spectral;
    h1 {
        font-family: $font-spectral;
        font-size: 34px;
        color: transparent;
        -webkit-text-stroke: 2px #5ca75c;
    }
    .payment-success-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 50px 450px;
        .payment-success-content {
            text-align: center;
            color: $color-p;
            font-size: 14px;
            font-weight: 300;
        }
        .info-success {
            background: #f8f9fa;
            padding: 30px;
            border-radius: 10px;
            margin: 20px 0;
            width: 100%;
            max-width: 500px;

            .thankyou-success {
                color: $color-p;
                font-size: 24px;
                margin-bottom: 25px;
                text-align: center;
                font-weight: $font-weight-bold;
                font-family: $font-spectral;
            }

            .order-info {
                .info-group {
                    margin: 20px 0;
                    padding: 15px 0;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    h3 {
                        color: $color-p;
                        font-size: 18px;
                        margin-bottom: 15px;
                        font-weight: $font-weight-semibold;
                        font-family: $font-spectral;
                    }
                }

                .info-item {
                    display: flex;
                    margin: 10px 0;

                    .info-label {
                        min-width: 150px;
                        color: $color-p;
                        font-weight: $font-weight-semibold;
                    }

                    .info-value {
                        color: $color-p;
                        flex: 1;
                    }
                }
            }
        }
        .payment-success-btn {
            display: flex;
            align-items: center;
            background-color: #222;
            color: #fff;
            padding: 12px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.8s;
            i {
                margin-left: 15px;
                transition: all 0.8s;
            }
            &:hover {
                i {
                    color: #222;
                    transform: translateX(5px);
                }
            }
            &:hover {
                border: 2px solid #222;
                background-color: #fff;
                color: #222;
            }
        }
    }
}

.payment-success-btn:hover i {
    color: red;
    transform: translateX(5px);
}
